FUTURE MINDS-medicine remainder/NODE RED code.txt
[{"id":"5c6a0a4e.6ded64","type":"tab","label":"Smart medicine Reminder ","disabled":false,"info":""},{"id":"532a0a5b.ef6294","type":"function","z":"5c6a0a4e.6ded64","name":"Date","func":"global.set(\"Date\",msg.payload.d.Date);\nmsg.payload=msg.payload.d.Date\nreturn msg;","outputs":1,"noerr":0,"x":465.16668701171875,"y":135.31944274902344,"wires":[["214e4f2c.eb855"]]},{"id":"1fd9679a.ac8a48","type":"function","z":"5c6a0a4e.6ded64","name":"hours","func":"global.set(\"h\",msg.payload.d.hours);\nmsg.payload=msg.payload.d.hours\nreturn msg;","outputs":1,"noerr":0,"x":483.1667175292969,"y":264.31945991516113,"wires":[["b791c81a.8bd6b8"]]},{"id":"214e4f2c.eb855","type":"debug","z":"5c6a0a4e.6ded64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":769.5000076293945,"y":129.1111125946045,"wires":[]},{"id":"b791c81a.8bd6b8","type":"debug","z":"5c6a0a4e.6ded64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":756.5,"y":276.1111145019531,"wires":[]},{"id":"cc7a1968.c4c8e8","type":"http in","z":"5c6a0a4e.6ded64","name":"","url":"/Reminder","method":"get","upload":false,"swaggerDoc":"","x":201.16665649414062,"y":401.5555419921875,"wires":[["2d411be6.7822f4"]]},{"id":"a624af71.9e436","type":"http response","z":"5c6a0a4e.6ded64","name":"","statusCode":"","headers":{},"x":799.1666870117188,"y":385.11114501953125,"wires":[]},{"id":"2d411be6.7822f4","type":"function","z":"5c6a0a4e.6ded64","name":"response of Date and Time","func":"msg.payload={\"date\":global.get(\"Date\"),\"h\":global.get(\"h\"),\"m\":global.get(\"m\")}\nreturn msg;","outputs":1,"noerr":0,"x":497.00006103515625,"y":363.00006103515625,"wires":[["a624af71.9e436"]]},{"id":"35e7e1f7.2d869e","type":"ibmiot in","z":"5c6a0a4e.6ded64","authentication":"apiKey","apiKey":"278087c0.2d5448","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"new","applicationId":"","deviceType":"newdevice","eventType":"sensorData","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":"1","x":152.16665649414062,"y":204.55557250976562,"wires":[["532a0a5b.ef6294","1fd9679a.ac8a48","faa1f6e5.6cead8"]]},{"id":"faa1f6e5.6cead8","type":"function","z":"5c6a0a4e.6ded64","name":"min","func":"global.set(\"m\",msg.payload.d.min);\nmsg.payload=msg.payload.d.min\nreturn msg;","outputs":1,"noerr":0,"x":484.0000228881836,"y":191.00001335144043,"wires":[["eb8ecc9f.beeb3"]]},{"id":"eb8ecc9f.beeb3","type":"debug","z":"5c6a0a4e.6ded64","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":698.3000335693359,"y":191.4000015258789,"wires":[]},{"id":"278087c0.2d5448","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]