Team Microes_River Monitoring System/River Water Quality Monitoring System/Node Red.txt
[{"id":"65e87051.9a747","type":"tab","label":"River Water Quality","disabled":false,"info":""},{"id":"2c55e560.e854ba","type":"http in","z":"65e87051.9a747","name":"","url":"getData","method":"get","upload":false,"swaggerDoc":"","x":108.5,"y":132,"wires":[["c5e8e5a.2a3ff18","26f110b1.7ad17"]]},{"id":"c5e8e5a.2a3ff18","type":"http response","z":"65e87051.9a747","name":"","statusCode":"","headers":{},"x":441.5,"y":52,"wires":[]},{"id":"a99b2c35.7a9b3","type":"cloudant in","z":"65e87051.9a747","name":"","cloudant":"","database":"rwq","service":"Godfather-IoT-1-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":925.5,"y":114,"wires":[["1e67c288.7cb14d"]]},{"id":"71a56bed.ee5904","type":"cloudant out","z":"65e87051.9a747","name":"","cloudant":"","database":"rwq","service":"Godfather-IoT-1-cloudantNoSQLDB","payonly":true,"operation":"insert","x":819.5,"y":238,"wires":[]},{"id":"64d2659f.3b133c","type":"http in","z":"65e87051.9a747","name":"","url":"putData","method":"get","upload":false,"swaggerDoc":"","x":725.5,"y":94,"wires":[["a99b2c35.7a9b3"]]},{"id":"1e67c288.7cb14d","type":"http response","z":"65e87051.9a747","name":"","statusCode":"","headers":{},"x":1183.5,"y":102,"wires":[]},{"id":"df68412e.6829c","type":"ibmiot in","z":"65e87051.9a747","authentication":"apiKey","apiKey":"9cad51e4.32cbc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"11222808","applicationId":"","deviceType":"BB-08","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":"2","x":205.5,"y":558,"wires":[["4c8c472b.772068","3614d2ae.3ae78e","26f110b1.7ad17"]]},{"id":"4c8c472b.772068","type":"function","z":"65e87051.9a747","name":"Temperature","func":"global.set(\"temperature\",msg.payload.d.temperature);\nmsg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":426.5,"y":410,"wires":[["c8ed4d5c.bb758"]]},{"id":"3614d2ae.3ae78e","type":"function","z":"65e87051.9a747","name":"Turbidity","func":"global.set(\"Turb\",msg.payload.d.Turbidity);\nmsg.payload=msg.payload.d.Turbidity;\nreturn msg;","outputs":1,"noerr":0,"x":407.5,"y":725,"wires":[["ed221b86.fb1498","485685cf.e2e70c"]]},{"id":"c8ed4d5c.bb758","type":"ui_gauge","z":"65e87051.9a747","name":"","group":"34317a3e.c41d16","order":1,"width":0,"height":0,"gtype":"gage","title":"Ambient Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":645.5,"y":484,"wires":[]},{"id":"ed221b86.fb1498","type":"ui_gauge","z":"65e87051.9a747","name":"","group":"34317a3e.c41d16","order":0,"width":0,"height":0,"gtype":"gage","title":"Turbidity Level","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":629.5,"y":630,"wires":[]},{"id":"485685cf.e2e70c","type":"switch","z":"65e87051.9a747","name":"Polluted water","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"480","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":507.5,"y":839,"wires":[[]]},{"id":"26f110b1.7ad17","type":"function","z":"65e87051.9a747","name":"Upload","func":"\nmsg.payload=\"Temperature is :\"+global.get(\"temperature\")+ \"&\" +\"Turbidity is: \"+global.get(\"Turb\");   \nreturn msg;","outputs":1,"noerr":0,"x":370.5,"y":151,"wires":[["71a56bed.ee5904"]]},{"id":"73794277.e4b7ec","type":"function","z":"65e87051.9a747","name":"Mobile App","func":"msg.payload={\"temp\":global.get(\"temperature\"),\"turb\":global.get(\"Turb\")}\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":944,"wires":[["31959520.e3761a"]]},{"id":"b8ed6314.6b9f2","type":"http in","z":"65e87051.9a747","name":"","url":"rwq","method":"get","upload":false,"swaggerDoc":"","x":147,"y":958,"wires":[["73794277.e4b7ec"]]},{"id":"31959520.e3761a","type":"http response","z":"65e87051.9a747","name":"","statusCode":"","headers":{},"x":618,"y":956,"wires":[]},{"id":"9cad51e4.32cbc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"fbf9fj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"34317a3e.c41d16","type":"ui_group","z":"","name":"Quality Monitor","tab":"34cc5a51.7c3756","disp":true,"width":"6","collapse":false},{"id":"34cc5a51.7c3756","type":"ui_tab","z":"","name":"River Water","icon":"dashboard","disabled":false,"hidden":false}]