SMART BILLBOARDS/nodered.txt
[{"id":"519c1097.67d6e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c34e676f.2e6848","type":"ibmiot in","z":"519c1097.67d6e","authentication":"apiKey","apiKey":"bde98785.b69c28","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"lee_minho1","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":true,"qos":0,"x":170.17999267578125,"y":160.84999084472656,"wires":[["c962b4af.20cec8","936bccca.c9e87"]]},{"id":"c962b4af.20cec8","type":"function","z":"519c1097.67d6e","name":"switch1","func":"global.set('Switch',msg.payload.d.Switch)\nmsg.payload=msg.payload.d.Switch\nreturn msg;","outputs":1,"noerr":0,"x":384.1000747680664,"y":160.8000020980835,"wires":[["a0dd73a1.f07b3","588c80e6.41957"]]},{"id":"936bccca.c9e87","type":"debug","z":"519c1097.67d6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":496.1000566482544,"y":70.00000190734863,"wires":[]},{"id":"a0dd73a1.f07b3","type":"ui_text","z":"519c1097.67d6e","group":"c889010.af06f","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":610.1000595092773,"y":258.0000047683716,"wires":[]},{"id":"24c71b29.1608c4","type":"function","z":"519c1097.67d6e","name":"light","func":"msg.payload= {\"Switch\":global.get('Switch')}\nreturn msg;","outputs":1,"noerr":0,"x":422.1000061035156,"y":356.0000047683716,"wires":[["f736e963.507338"]]},{"id":"6da45552.bb144c","type":"http in","z":"519c1097.67d6e","name":"","url":"/light","method":"get","upload":false,"swaggerDoc":"","x":204.10000610351562,"y":354,"wires":[["24c71b29.1608c4"]]},{"id":"f736e963.507338","type":"http response","z":"519c1097.67d6e","name":"","statusCode":"","headers":{},"x":648.1000576019287,"y":354.0000047683716,"wires":[]},{"id":"588c80e6.41957","type":"debug","z":"519c1097.67d6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":622.1000366210938,"y":136,"wires":[]},{"id":"bde98785.b69c28","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"mf3koe.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"c889010.af06f","type":"ui_group","z":"","name":"smartlight","tab":"5147f030.e0f52","disp":true,"width":"6","collapse":false},{"id":"5147f030.e0f52","type":"ui_tab","z":"","name":"billboard","icon":"dashboard","disabled":false,"hidden":false}]