BleedBlue-agriculture/NodeRedFlow.txt
[{"id":"bd975f94.4570d","type":"ui_button","z":"8dfacb0b.9cf608","name":"","group":"351f2aab.1c9026","order":2,"width":0,"height":0,"passthru":true,"label":"LIGHT ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lighton","payloadType":"str","topic":"","x":150,"y":100,"wires":[["6b1630a8.a85b6","9ce5c677.2b2298"]]},{"id":"6b1630a8.a85b6","type":"debug","z":"8dfacb0b.9cf608","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":635.3889999389648,"y":95.00000190734863,"wires":[]},{"id":"f7439b3f.ac66a8","type":"ui_button","z":"8dfacb0b.9cf608","name":"","group":"351f2aab.1c9026","order":2,"width":0,"height":0,"passthru":true,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"lightoff","payloadType":"str","topic":"","x":156.66665649414062,"y":205.55555534362793,"wires":[["6b1630a8.a85b6","9ce5c677.2b2298"]]},{"id":"9ce5c677.2b2298","type":"ibmiot out","z":"8dfacb0b.9cf608","authentication":"apiKey","apiKey":"909427ad.489978","outputType":"cmd","deviceId":"8266","deviceType":"esp8266nodemcu","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":656.1111373901367,"y":183.33334350585938,"wires":[]},{"id":"e2a1c759.a7b9a8","type":"http response","z":"8dfacb0b.9cf608","name":"","statusCode":"","headers":{},"x":670.1111717224121,"y":320.00000762939453,"wires":[]},{"id":"e02d58ce.440668","type":"http in","z":"8dfacb0b.9cf608","name":"","url":"/home","method":"get","upload":false,"swaggerDoc":"","x":131.22222518920898,"y":325.55554008483887,"wires":[["f7677d3b.1760d"]]},{"id":"f7677d3b.1760d","type":"function","z":"8dfacb0b.9cf608","name":"response","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"x":423.0000305175781,"y":317.0000305175781,"wires":[["e2a1c759.a7b9a8","9ce5c677.2b2298"]]},{"id":"47a08898.2aadf8","type":"ui_button","z":"8dfacb0b.9cf608","name":"","group":"351f2aab.1c9026","order":4,"width":0,"height":0,"passthru":true,"label":"Automatic","tooltip":"","color":"","bgcolor":"","icon":"","payload":"automatic","payloadType":"str","topic":"","x":143.50000381469727,"y":266.00000762939453,"wires":[["6b1630a8.a85b6","9ce5c677.2b2298"]]},{"id":"351f2aab.1c9026","type":"ui_group","z":"","name":"home automation","tab":"ae909a3c.b28878","disp":true,"width":"6","collapse":false},{"id":"909427ad.489978","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"927i9m.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"ae909a3c.b28878","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]