panthers_smart health monitoring system/nodered flow.txt
[{"id":"9d6e4abd.039348","type":"tab","label":"shms ","disabled":false,"info":""},{"id":"9c742778.d37f38","type":"debug","z":"9d6e4abd.039348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":513,"y":69,"wires":[]},{"id":"c114135e.e4729","type":"ui_gauge","z":"9d6e4abd.039348","name":"","group":"9f2561f.9cc39a","order":1,"width":0,"height":0,"gtype":"gage","title":"temperature in farenhiet","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":538,"y":142,"wires":[]},{"id":"186d2fa5.2beae","type":"ui_chart","z":"9d6e4abd.039348","name":"","group":"9f2561f.9cc39a","order":2,"width":0,"height":0,"label":"pulse","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1000","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":488,"y":274,"wires":[[]]},{"id":"29eb092b.a67926","type":"function","z":"9d6e4abd.039348","name":"response","func":"msg.payload={\"pulse\":global.get(\"pulse\"),\"temp_f\":global.get(\"temperature\")}\nreturn msg;","outputs":1,"noerr":0,"x":284,"y":314,"wires":[["33ad2e03.ab6622"]]},{"id":"443721e4.f8c77","type":"function","z":"9d6e4abd.039348","name":"pulse","func":"global.set(\"pulse\",msg.payload.d.pulse);\nmsg.payload=msg.payload.d.pulse\nreturn msg;","outputs":1,"noerr":0,"x":308,"y":228,"wires":[["186d2fa5.2beae","a17e08fa.93b698"]]},{"id":"33ad2e03.ab6622","type":"http response","z":"9d6e4abd.039348","name":"","statusCode":"","headers":{},"x":482,"y":333,"wires":[]},{"id":"16782ec4.adbd91","type":"http in","z":"9d6e4abd.039348","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":107,"y":309,"wires":[["29eb092b.a67926"]]},{"id":"a17e08fa.93b698","type":"debug","z":"9d6e4abd.039348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":483,"y":221,"wires":[]},{"id":"3bf27f45.7e112","type":"function","z":"9d6e4abd.039348","name":"temperature in f","func":"global.set(\"temperature\",msg.payload.d.temp_f);\nmsg.payload=msg.payload.d.temp_f\nreturn msg;","outputs":1,"noerr":0,"x":289,"y":141,"wires":[["c114135e.e4729","9c742778.d37f38"]]},{"id":"acb5ea6a.704698","type":"ibmiot in","z":"9d6e4abd.039348","authentication":"apiKey","apiKey":"1f5d8bcf.3ddcf4","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2000","applicationId":"","deviceType":"nodemcu2000","eventType":"sensordata","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":"0","x":72,"y":180,"wires":[["3bf27f45.7e112","443721e4.f8c77","29428937.41b3f6"]]},{"id":"29428937.41b3f6","type":"debug","z":"9d6e4abd.039348","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":204,"y":82,"wires":[]},{"id":"9f2561f.9cc39a","type":"ui_group","z":"","name":"Default","tab":"d060b034.f0644","disp":true,"width":"6","collapse":false},{"id":"1f5d8bcf.3ddcf4","type":"ibmiot","z":"","name":"data","keepalive":"60","serverName":"oa4vcj.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d060b034.f0644","type":"ui_tab","z":"","name":"shms","icon":"dashboard","disabled":false,"hidden":false}]