TEAM PHOENIX-SMART STREET LIGHT MANAGEMENT/Node-RED.txt
[{"id":"6242f11b.52db6","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"12adf43.caadf0c","type":"ui_button","z":"6242f11b.52db6","name":"","group":"d135402.84de7c","order":0,"width":0,"height":0,"passthru":true,"label":"LIGHT ON ","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT ON ","payloadType":"str","topic":"","x":100,"y":377,"wires":[["bbd45185.97f88","7c1108db.343ed8"]]},{"id":"bbd45185.97f88","type":"debug","z":"6242f11b.52db6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":476.00000762939453,"y":317.33335304260254,"wires":[]},{"id":"aa9d7621.1cade8","type":"ui_button","z":"6242f11b.52db6","name":"","group":"d135402.84de7c","order":2,"width":0,"height":0,"passthru":true,"label":"LIGHT OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"LIGHT OFF ","payloadType":"str","topic":"","x":96,"y":463.33333587646484,"wires":[["bbd45185.97f88","7c1108db.343ed8"]]},{"id":"7c1108db.343ed8","type":"ibmiot out","z":"6242f11b.52db6","authentication":"apiKey","apiKey":"667bd308.5b643c","outputType":"cmd","deviceId":"1811","deviceType":"naps","eventCommandType":"home","format":"String","data":"ok","qos":0,"name":"IBM IoT","service":"registered","x":484.0000114440918,"y":461.0001039505005,"wires":[]},{"id":"cf540176.44c04","type":"ui_button","z":"6242f11b.52db6","name":"","group":"d135402.84de7c","order":8,"width":0,"height":0,"passthru":true,"label":"AUTOMATIC","tooltip":"","color":"","bgcolor":"","icon":"","payload":"AUTOMATIC","payloadType":"str","topic":"","x":108.16667175292969,"y":313.66668701171875,"wires":[["7c1108db.343ed8","bbd45185.97f88"]]},{"id":"d83eeef1.6bb6c","type":"http in","z":"6242f11b.52db6","name":"","url":"/street","method":"get","upload":false,"swaggerDoc":"","x":105,"y":569.6666870117188,"wires":[["6b64d07f.71eae"]]},{"id":"8c34b371.73906","type":"http response","z":"6242f11b.52db6","name":"","statusCode":"","headers":{},"x":681.1273345947266,"y":568.5020542144775,"wires":[]},{"id":"6b64d07f.71eae","type":"function","z":"6242f11b.52db6","name":"response","func":"msg.payload=msg.payload.pc\nreturn msg;","outputs":1,"noerr":0,"x":401.0303649902344,"y":570.1505088806152,"wires":[["8c34b371.73906","7c1108db.343ed8"]]},{"id":"d135402.84de7c","type":"ui_group","z":"","name":"hall","tab":"7e9239ca.e77d28","disp":true,"width":"6","collapse":false},{"id":"667bd308.5b643c","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"zt2e6a.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"7e9239ca.e77d28","type":"ui_tab","z":"","name":"weather","icon":"dashboard","disabled":false,"hidden":false}]