inventors_Smart Billing System/smart billing system nodered.txt
[{"id":"e0c632e0.6eca1","type":"http in","z":"6b5677b1.470eb8","name":"","url":"/quantity","method":"get","upload":false,"swaggerDoc":"","x":510,"y":60,"wires":[["688e26ed.f17ae8"]]},{"id":"afad021.3b2ee","type":"http response","z":"6b5677b1.470eb8","name":"","statusCode":"","headers":{},"x":950,"y":60,"wires":[]},{"id":"830d660d.f49a28","type":"ibmiot out","z":"6b5677b1.470eb8","authentication":"apiKey","apiKey":"44beb291.9cedfc","outputType":"cmd","deviceId":"9948","deviceType":"nodemcu","eventCommandType":"quantity","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":960,"y":120,"wires":[]},{"id":"688e26ed.f17ae8","type":"function","z":"6b5677b1.470eb8","name":"","func":"msg.payload=msg.payload.volume\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":120,"wires":[["afad021.3b2ee","830d660d.f49a28","cb631f9b.09add"]]},{"id":"cb631f9b.09add","type":"debug","z":"6b5677b1.470eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":180,"wires":[]},{"id":"ea6549e6.534f28","type":"ui_form","z":"6b5677b1.470eb8","name":"","label":"","group":"9fbb3b2b.5bca68","order":4,"width":0,"height":0,"options":[{"label":"enter quantity of water","value":"volume","type":"number","required":true}],"formValue":{"volume":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":490,"y":120,"wires":[["688e26ed.f17ae8"]]},{"id":"99cb171f.9bf488","type":"ibmiot in","z":"6b5677b1.470eb8","authentication":"apiKey","apiKey":"44beb291.9cedfc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"9948","applicationId":"","deviceType":"nodemcu","eventType":"balance","commandType":"balance","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":420,"y":460,"wires":[["f4035fe8.0a7c9"]]},{"id":"f71726d3.252f38","type":"debug","z":"6b5677b1.470eb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":460,"wires":[]},{"id":"f4035fe8.0a7c9","type":"function","z":"6b5677b1.470eb8","name":"","func":"global.set(\"balance\",msg.payload.d.balance)\nmsg.payload=msg.payload.d.balance\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["f71726d3.252f38"]]},{"id":"991d5ae7.e58d38","type":"http in","z":"6b5677b1.470eb8","name":"","url":"/balance","method":"get","upload":false,"swaggerDoc":"","x":410,"y":600,"wires":[["72587784.e85918"]]},{"id":"94d7b84d.38ec88","type":"http response","z":"6b5677b1.470eb8","name":"","statusCode":"","headers":{},"x":790,"y":580,"wires":[]},{"id":"72587784.e85918","type":"function","z":"6b5677b1.470eb8","name":"","func":"msg.payload = {\"balance\":global.get(\"balance\")}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":600,"wires":[["94d7b84d.38ec88"]]},{"id":"44beb291.9cedfc","type":"ibmiot","z":"","name":"data","keepalive":"60","serverName":"l8ekzu.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"9fbb3b2b.5bca68","type":"ui_group","z":"","name":"quantity","tab":"db922af0.3d3dc8","disp":true,"width":"6","collapse":false},{"id":"db922af0.3d3dc8","type":"ui_tab","z":"","name":"billing system","icon":"dashboard","disabled":false,"hidden":false}]